<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
</head>

<body>
	<nav class="navbar">
		<div class="menu">
			<% if (user) { %>
			<a href="/customers">MY DETAILS</a>
			<a href="/projects/new"	> CREATE A PROJECT</a>
			<a href="/customers/new" >CREATE A NEW PROFILE</a>
			<a href="/projects" >ALL TECH MATCH PROJECTS</a>
			<a href="/customers/all" > ALL TECH MATCH USERS</a>
		</div>
		<a href="/logout" id="logout">LOG OUT</a>
		<% } else { %>
		<a href="/auth/google" id="login">Login with your Google Account to Get Started&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>	
		<% } %>
	</nav>
		<section>
			<h1 class="brand">Tech Match</h1>
			</div>
			<div class="slogan">Tech Match gives you the tech-smarts for your programming needs
			</div>
		</section>	
	<main>