<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TECHMATCH IS WORKING THIS IS INDEX</h1>
            
      <a href="/customers">All CUSTOMERS</a>
      <a href="/customers/new">NEW CUSTOMER</a>
  </body>
</html>