@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: .5rem 0 0 0;
}


.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}


.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Spreads out the items */
  background-color: rgb(194 230 132);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: .05rem solid black;
  margin-left: 0;
}

.menu {
  display: flex;
  align-items: center;
  height: 34px;
}

.menu a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.menu a:first-child{
  margin-left: 2rem;
}

#login {
  display: flex;
  align-items: center;
  height: 34px;
  margin-right: 2rem;
}

#login img {
  height: 30px;
}
