<%- include('../partials/header') %>
<% if (user) { %>
        <body class="newUser">
            <form action="/customers" method="POST">
                <div id="create_header">
                    <h2>Create a New Customer Profile</h2>
                </div>
                <td id="name"><strong>Name: </strong><%= user.name %>
                </td>
                <br><br>
                <label><strong>Email:</strong>
                    <td id="email"><%= user.email %></td>
                </label>
                <br><br>
                <td id="description_title"><strong>Description:</strong></td>
                <br><br>
                <input id="description" type="text" name="description">
                </label>
                <label id="customerType"><strong>Select Role: </strong>
                    <select id="role" name="customerType">
                        <option value="Client">Client</option>
                        <option value="Programmer">Programmer</option>
                    </select>
                <br><br>
                <label><strong>Website Link: </strong>
                    <input id="link" type="text" name="link">
                </label>
                <br><br>
                <label><strong>Timezone</strong>
                    <select id="timezone" name="timeZone">
                        <option value="East Coast">East Coast</option>
                        <option value="Central">Central</option>
                        <option value="Mountain">Mountain</option>
                        <option value="Pacific Coast">Pacific Coast</option>
                        <option value="Other">Other</option>
                    </select>
                <br><br>
                <button id="create_profile" type="submit">Create Profile</button>
            </form>
        </body>
        <% } else { %>
            <main class="login_prompt">
              <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
            </main>  
            <% } %>

                <%- include('../partials/footer') %>